body{
	font-family: 微软雅黑;
}
/*导航*/
.header{
	display: flex;
	background-color: #F3AF31;
}
.header .item{
	flex: 1 1 25%;
	color: #fff;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.header .item.active{
	color: #000;
}
/*标题列表*/
.list-wrapper a {
	color: #000;
}
.list-wrapper a:focus,.list-wrapper a:hover,.list-wrapper a:visited{
	color: #000;
}
.list-wrapper .item{
	display: block;
	position: relative;
	font-size: 16px;
}
.list-wrapper .item .title{
	height: 64px;
	line-height: 64px;
	padding-left: 55px;
	padding-right: 50px;
	border-bottom: 1px solid #E6E6E6;
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.list-wrapper .item .num{
	position: absolute;
	top: 19px;
	left: 20px;
	background-color: #F3AF31;
	padding: 5px;
	border-radius: 50%;
	color: #fff;
}
.list-wrapper .item .arrow{
	position: absolute;
	top: 23.5px;
	right: 20px;
	width: 9px;
	height: 17px;
	background-image: url(../img/qiehuan.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*文章详情*/
.ariticle-wrapper{
	padding: 15px;
}
.ariticle-wrapper .title{
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}
.ariticle-wrapper .date{
	font-size: 10px;
	color: #888;
	line-height: 20px;
}
.ariticle-wrapper p{
	font-size: 14px;
	text-indent: 28px;
	color: #000;
	line-height: 1.5;
}
.ariticle-wrapper p.red{
	color: red;
}
.ariticle-wrapper p.noindent{
	text-indent: 0;
}
